.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-cl;
  }
}

.current-page {
  color: $accent-cl;

  &::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 32px;
    width: 100%;
    height: 4px;
    background-color: $accent-cl;
    border-radius: 2px;
    transform: scaleX(1);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    transform: scaleX(0);
  }
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: $title-cl;
}

.logo {
  font-family: $logo-fonte-family;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  color: $accent-cl;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
