.checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  &__text {
    margin-left: 22px;
    font-size: 12px;
    line-height: 1.166;
    color: $main-text-cl;
    @media screen and (min-width: $desktop-width) {
      margin-left: 23px;
      font-size: 14px;
      line-height: 1.71;
    }
  }
  &__link {
    display: inline-flex;
    color: $accent-cl;
  }
  &__icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
  }

  &__icon-svg {
    fill: $white;
  }

  &__old:focus:checked ~ &__icon {
    background-color: #2196f3;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  &__old:focus ~ &__icon {
    border-color: $accent-cl;
  }

  &__old :checked ~ &__text {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
