.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: $gray-bg;

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    align-items: center;
    color: $white;
    margin-bottom: 0;
  }
  .social-icons {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $tablet-width) {
      display: flex;
      align-items: baseline;
      flex-direction: unset;
      flex-wrap: wrap;
    }

    @media screen and (min-width: $desktop-width) {
      display: flex;
      flex-wrap: unset;
      justify-content: flex-end;
    }
  }
  .logo {
    font-family: $logo-fonte-family;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    color: $accent-cl;
    width: 154px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: $desktop-width) {
      margin-left: unset;
      margin-right: unset;
    }
  }

  .social-icons__link {
    background-color: $soc-icon-footer-bg;

    &:hover,
    &:focus {
      background-color: $accent-cl;
    }
  }

  .social-icons__svg {
    fill: $white;
  }
  &__address-thumb {
    @media screen and (min-width: $tablet-width) {
      margin-left: 76px;
    }

    @media screen and (min-width: $desktop-width) {
      margin-left: unset;
    }
  }

  &__address {
    margin-top: 20px;
    font-style: normal;
    text-align: center;
    @media screen and (min-width: $desktop-width) {
      text-align: unset;
    }
  }

  &__logo {
    color: $white;
  }

  &__address-list {
    font-style: normal;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 9px;
    @media screen and (min-width: $desktop-width) {
      text-align: unset;
    }
  }

  &__mail-tele-address {
    color: $rgba;
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__social-thumb {
    display: flex;
    flex-direction: column;
    width: 206px;
    margin-top: 60px;
    align-items: center;

    @media screen and (min-width: $tablet-width) {
      margin-top: unset;
      margin-left: 165px;
    }
    @media screen and (min-width: $desktop-width) {
      margin-left: 70px;
      align-items: unset;
    }
  }

  &__signature-thumb {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    @media screen and (min-width: $desktop-width) {
      margin: unset;
      margin-left: 93px;
      align-items: unset;
    }
  }
}
