.header {
  position: relative;
  border-bottom: 1px solid rgba(236, 236, 236, 1);

  &__conteiner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__menu-item {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #212121;
  }
  &__menu-item:not(:last-child) {
    margin-bottom: 40px;
  }

  &__menu-navigation {
    margin-bottom: 302px;
  }

  &__menu-list {
    display: flex;
    flex-direction: column;
  }

  &__menu-contact:not(:last-child) {
    margin-bottom: 16px;
  }

  &__menu-icon-mail {
    height: 11.2px;
    width: 16px;
    margin-right: 10px;
    fill: $main-text-cl;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .header__contact-link:hover &,
    .header__contact-link:focus & {
      fill: $accent-cl;
    }
  }

  &__menu-icon-tel {
    height: 14.94px;
    width: 10px;
    margin-right: 10px;
    fill: $main-text-cl;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .header__contact-link:hover &,
    .header__contact-link:focus & {
      fill: $accent-cl;
    }
  }

  .logo {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    @media screen and (min-width: $tablet-width) {
      margin-right: 88px;
    }
    @media screen and (min-width: $desktop-width) {
      margin-right: 93px;
    }
  }

  &__logo {
    color: #212121;
  }

  &__navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  &__list {
    display: flex;

    @media screen and (min-width: $tablet-width) {
      flex-direction: column;
    }

    @media screen and (min-width: $desktop-width) {
      flex-direction: row;
    }
  }

  &__item {
    display: none;

    @media screen and (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
    }
  }
  &__item {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__contact {
    display: none;

    @media screen and (min-width: $tablet-width) {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @media screen and (min-width: $desktop-width) {
      display: flex;
      &:not(:last-child) {
        margin: 0px 30px 0px 0px;
      }
    }
  }

  &__contact-link {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;

    @media screen and (min-width: $tablet-width) {
      font-size: 12px;
      line-height: 1.167;
      text-align: left;
    }
    @media screen and (min-width: $desktop-width) {
      font-size: 14px;
      line-height: 1.143;
    }
  }

  &__contact {
    align-items: center;
  }
}
// Мобильное меню

.header__boxmenu {
  display: none;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  padding: 48px 40px;
  text-align: left;
  z-index: 1;

  &.is-open {
    overflow-y: scroll;
    display: block;
    z-index: 10;
    height: 100vh;
  }
}

.header__menu-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  padding: 0;
  z-index: 11;
  cursor: pointer;

  @media screen and (min-width: $tablet-width) {
    display: none;
  }
  @media screen and (min-width: $desktop-width) {
    display: none;
  }
}

.header__menu-btn .icon-cross {
  display: none;
}

.header__menu-btn.is-open .icon-cross {
  display: block;
}

.header__menu-btn.is-open .icon-menu {
  display: none;
}

// Rules for icons

.header__icon-mail {
  fill: $main-text-cl;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet-width) {
    height: 10px;
    width: 14px;
    margin-right: 8px;
  }
  @media screen and (min-width: $desktop-width) {
    height: 12px;
    width: 16px;
    margin-right: 10px;
  }
  .header__contact-link:hover &,
  .header__contact-link:focus & {
    fill: $accent-cl;
  }
}

.header__icon-tel {
  fill: $main-text-cl;

  @media screen and (min-width: $tablet-width) {
    height: 14px;
    width: 10px;
    margin-right: 8px;
  }
  @media screen and (min-width: $desktop-width) {
    height: 16px;
    width: 10px;
    margin-right: 10px;
  }
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .header__contact-link:hover &,
  .header__contact-link:focus & {
    fill: $accent-cl;
  }
}

//Address section
.header__menu-address-list {
  display: block;
}
.header__menu-address-item:not(:last-child) {
  margin-bottom: 32px;
}
.header__mobile {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: $accent-cl;
}
.header__mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
}

//Social section

.header__social-list {
  margin-top: 64px;
}

.header__social-item {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-cl;
  padding: 0 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  &:nth-child(1) {
    padding-left: 0px;
  }
  &:last-child {
    padding-right: 0px;
    border: none;
  }
}

.current-page {
  color: $accent-cl;

  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $accent-cl;
    border-radius: 2px;
    bottom: -8px;
    @media screen and (min-width: $tablet-width) {
      bottom: 0px;
    }
    @media screen and (min-width: $desktop-width) {
      bottom: 0px;
    }
    transform: scaleX(1);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    transform: scaleX(0);
  }
}
