.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);

  &__conteiner {
    display: flex;
    align-items: center;
  }

  .logo {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &__logo {
    color: #212121;
  }

  &__navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  &__item {
    display: none;
  }
  &__contact {
    display: none;
  }

  &__menu {
    margin-left: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}
