.skills {
  padding-top: 60px;
  padding-bottom: 60px;

  &__text {
    margin-top: 0%;
    font-size: 14px;
    line-height: 1.71;
    color: $main-text-cl;
  }
  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    color: $title-cl;
    text-transform: uppercase;
  }
  &__list {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet-width) {
      flex-direction: unset;
      flex-wrap: wrap;
    }

    @media screen and (min-width: $desktop-width) {
      flex-direction: row;
    }
  }
}

// Item Cell for SVG

.skills__item {
  display: flex;
  flex-direction: column;
  width: 450px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $tablet-width) {
    width: 354px;
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0px;
    }
  }

  &::before {
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;

    background: $bg-icons;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

// SVG icon

.skills__icon-antenna {
  &:before {
    background-image: url(../images/icons/antenna.svg);
  }
}

.skills__icon-clock {
  &:before {
    background-image: url(../images/icons/clock.svg);
  }
}

.skills__icon-diagram {
  &:before {
    background-image: url(../images/icons/diagram.svg);
  }
}
.skills__icon-astronaut {
  &:before {
    background-image: url(../images/icons/astronaut.svg);
  }
}
