$main-text-cl: #757575;
$accent-cl: #2196f3;
$title-cl: #212121;
$white: #ffffff;
$gray-bg: #2f303a;
$rgba: rgba(255, 255, 255, 0.6);
$cteam-bg: #e5e5e5;
$icons-color: #afb1b8;
$bg-icons: rgba(245, 244, 250, 1);
$text-box: rgba(255, 255, 255, 1);
$backdrop: rgba(0, 0, 0, 0.2);
$popupbg: rgba(33, 150, 243, 0.9);
$modal-btn: rgba(33, 150, 243, 1);
$soc-icon-footer-bg: rgba(255, 255, 255, 0.1);
$main-fonte-family: "Roboto", sans-serif;
$logo-fonte-family: "Raleway", sans-serif;
